/* Type Selector */ 
h1 {
    color: green;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
    float: left;
  }

  /* Class Selector */  /* Font Properties */
  .highlight {
    background-color: lightslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: italic 200 1.5em Arial;
  }

  /* Relational Selector */
  /* Descendant Selector */
  p a {
    color: darkred;
  } 

  /* ID Selector */
  #if {
    clear: left;
  }
  
  